//	PAGE Style
//==================================================
body {
    // custom scroll-bar
    //.scroll-bar();
}

main {
}

#page {
}

//	HEADER Style
//==================================================
header {
    color      : @header-color;
    background : @header-bg;

    // -- LOGO Style
    .logo {
        text-decoration : none;

        a {
            display : inline-block;
        }

        img {
        }
    }
}

// -- NAV Style
nav {
}

//	CONTENT Style
//==================================================
article {
}

section {
}

// 404 page
//==================================================
.not-found-title {
    font-size : 7em;
    font-size : 7vw;
}

//	SIDEBAR Style
//==================================================
aside {
    .aside-box {
        margin-bottom : 30px;
    }
}

//	FOOTER Style
//==================================================
footer {
    padding    : @padding-larger-vertical * 2 0;
    background : @footer-bg;
    color      : @footer-color;
    font-size  : @font-size-small;
}

//	Button to scroll top
//==================================================
#go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.webPage-go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.page-flexgrid-example {
    padding : 3em 0;
    code {
        padding          : 0 4px;
        border           : none;
        background-color : transparent;
    }
    ._example {
        background-color : lighten(@brand-primary, 3%);
        color            : @primary-color;
        margin-top       : 0.15em;
        margin-bottom    : 0.15em;
        padding          : 0.50em;
        font-size        : 12px;

        ._example {
            background-color : lighten(@brand-primary, 15%);
        }
    }
}